// Colors
$color-primary: #4056A1;
$color-secondary: #ff0000;
$color-background: #f4f1ec;
$color-text: #545149;
$color-error: #ff0000;
$color-error-background: #ffcccc;

// Fonts
$font-primary: 'Source Sans 3', sans-serif;
$font-logo: 'Bungee', sans-serif;
$font-fallback: sans-serif;
