nav {
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  font-family: "Source Sans 3", sans-serif;
  padding: 0 1.5em;
  position: fixed;
  top: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav span {
  font-family: var(--font-logo);
}
nav .write-tweet {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
nav .write-tweet p {
  margin-right: 0.5em;
}
nav .write-tweet i {
  font-size: 20px;
  margin-bottom: -4px;
  color: #ff0000;
}

.compose-btn {
  cursor: pointer;
  padding: 8px 16px;
  background-color: #ff0000;
  color: #fff;
  border-radius: 5px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* Applying the mixin for vertical alignment */
}
.compose-btn:hover {
  background-color: #cc0000;
}

.scroll-to-top-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #ff0000;
  color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 2;
}
.scroll-to-top-btn i {
  pointer-events: none;
}
.scroll-to-top-btn:hover {
  background-color: #cc0000;
}

.main-container {
  width: 90%;
  margin: 0 auto;
  background-color: inherit;
}

.error-message {
  background-color: #ffcccc;
  color: #ff0000;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ff0000;
  border-radius: 5px;
}
